* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "LuxoraGroteskRegular";
  background-color: #3E4044;
}

@font-face {
  font-family: "LuxoraGroteskThin";
  src: url('webFonts/LuxoraGroteskThin/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskThin/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskRegular";
  src: url('webFonts/LuxoraGroteskRegular/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskRegular/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBook";
  src: url('webFonts/LuxoraGroteskBook/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBook/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskLightItalic";
  src: url('webFonts/LuxoraGroteskLightItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskLightItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskMediumItalic";
  src: url('webFonts/LuxoraGroteskMediumItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskMediumItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskItalic";
  src: url('webFonts/LuxoraGroteskItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskLight";
  src: url('webFonts/LuxoraGroteskLight/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskLight/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskMedium";
  src: url('webFonts/LuxoraGroteskMedium/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskMedium/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBoldItalic";
  src: url('webFonts/LuxoraGroteskBoldItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBoldItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBookItalic";
  src: url('webFonts/LuxoraGroteskBookItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBookItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskHeavy";
  src: url('webFonts/LuxoraGroteskHeavy/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskHeavy/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskHeavyItalic";
  src: url('webFonts/LuxoraGroteskHeavyItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskHeavyItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBold";
  src: url('webFonts/LuxoraGroteskBold/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBold/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskThinItalic";
  src: url('webFonts/LuxoraGroteskThinItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskThinItalic/font.woff') format('woff');
}

header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(2px);
  z-index: 1;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
}

nav>a {
  margin-right: 1vh;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
  font-size: .8rem;
  letter-spacing: .1rem;
}

.fa-atmos-logo-black {
  font-size: 200%;
}

#clicks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;

}

#clicks a {
  font-family: "LuxoraGroteskLight";
  font-size: .8rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#clicks a:hover {
  color: rgba(255, 255, 255, 0.587);
}
nav > a:hover {
  color: rgba(255, 255, 255, 0.587);
}

#join {
  margin-left: 5vh;
}

/* HERO */
#hero {
  width: 100%;
  height: 100vh;
  background: url(./images/backg1.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero h1 {
  color: #fff;
  font-family: "LuxoraGroteskMedium";
  font-size: 3rem;
  font-weight: 500;
  margin-left: 5vh;
}

hr {
  width: 90%;
  position: absolute;
  margin-top: 70vh;
  margin-left: 5vh;
}

#hero h4 {
  color: #fff;
  font-family: "LuxoraGroteskLight";
  font-size: 1.3rem;

  position: absolute;
  margin-left: 5vh;
  margin-top: 85vh;
}

/* ABOUT */

#about {
  width: 100%;
  height: 80vh;
  background-color: #000112;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-left {
  width: 50%;
}

#about-left h1 {
  color: #fff;
  font-size: 2rem;
  margin-left: 5vh;
  padding-bottom: 4vh;
}

#about-left h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* ABOUT2 */

#about2 {
  width: 100%;
  height: 80vh;
  background-color: #000112;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

#about-left2 {
  width: 50%;
}

#about-left2 h1 {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 4vh;
}

#about-left2 h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-right: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right2 {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right2 img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* ABOUT 3 */

#about3 {
  width: 100%;
  height: 80vh;
  background-color: #000112;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-left3 {
  width: 50%;
}

#about-left3 h1 {
  color: #fff;
  font-size: 2rem;
  margin-left: 5vh;
  padding-bottom: 4vh;
}

#about-left3 h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right3 {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right3 img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* CREATED FOR BUSINESS */
#created-for-business {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

/* Nav break point (phones, 850px and down) */
@media only screen and (max-width: 850px) {
  nav {
    flex-direction: column;
  }

  header {
    display: grid;
    flex-direction: column;
    height: 20vh;
  }

  #clicks {
    visibility: hidden;
  }

  nav>a {
    padding-bottom: 1vh;
  }

  .fa-atmos-logo-black {
    margin-top: 2vh;
  }

  #hero {
    background: url(./images/backg1.png) no-repeat center right;
    background-size: cover;
  }

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #hero h1 {
    font-size: 200%;
  }

  #hero h4 {
    font-size: 1rem;
  }

  #about h1 {
    font-size: 1.5rem;
  }

  #about-left h1 {
    color: #fff;
    font-size: 200%;
    margin-left: 5vh;
    padding-bottom: 4vh;
  }
  
  #about-left h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 5vh;
    font-family: "LuxoraGroteskLight";
  }

  /* ABOUT 2 */
  #about2 h1 {
    font-size: 1.5rem;
  }

  #about-left2 h1 {
    color: #fff;
    font-size: 200%;
    padding-bottom: 4vh;
  }
  
  #about-left2 h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    font-family: "LuxoraGroteskLight";
  }


  /* ABOUT 3 */

  #about3 h1 {
    font-size: 1.5rem;
  }

  #about-left3 h1 {
    color: #fff;
    font-size: 200%;
    margin-left: 5vh;
    padding-bottom: 4vh;
  }
  
  #about-left3 h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 5vh;
    font-family: "LuxoraGroteskLight";
  }

}

/* Extra small devices (phones, 1024px and down) */
@media only screen and (max-width: 1024px) {
  #about-right img {
    width: 35vh;
    height: 35vh;
    margin: 0 auto;
  }

  #about-right2 img {
    width: 35vh;
    height: 35vh;
    margin: 0 auto;
  }

  #about-right3 img {
    width: 35vh;
    height: 35vh;
    margin: 0 auto;
  }
}
