* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "LuxoraGroteskRegular";
  background-color: #3E4044;
}

.active {
  color: #F5E311;
  text-decoration: underline;
}
@font-face {
  font-family: "LuxoraGroteskThin";
  src: url('webFonts/LuxoraGroteskThin/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskThin/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskRegular";
  src: url('webFonts/LuxoraGroteskRegular/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskRegular/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBook";
  src: url('webFonts/LuxoraGroteskBook/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBook/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskLightItalic";
  src: url('webFonts/LuxoraGroteskLightItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskLightItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskMediumItalic";
  src: url('webFonts/LuxoraGroteskMediumItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskMediumItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskItalic";
  src: url('webFonts/LuxoraGroteskItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskLight";
  src: url('webFonts/LuxoraGroteskLight/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskLight/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskMedium";
  src: url('webFonts/LuxoraGroteskMedium/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskMedium/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBoldItalic";
  src: url('webFonts/LuxoraGroteskBoldItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBoldItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBookItalic";
  src: url('webFonts/LuxoraGroteskBookItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBookItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskHeavy";
  src: url('webFonts/LuxoraGroteskHeavy/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskHeavy/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskHeavyItalic";
  src: url('webFonts/LuxoraGroteskHeavyItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskHeavyItalic/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskBold";
  src: url('webFonts/LuxoraGroteskBold/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskBold/font.woff') format('woff');
}

@font-face {
  font-family: "LuxoraGroteskThinItalic";
  src: url('webFonts/LuxoraGroteskThinItalic/font.woff2') format('woff2'), url('webFonts/LuxoraGroteskThinItalic/font.woff') format('woff');
}

header {
  width: 100%;
  height: 10vh;
  position: fixed;
  display: inline-flex;
  background-color: rgba(0, 0, 0, 0.27);
  backdrop-filter: blur(2px);
  z-index: 1;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  text-align: center;
}

nav>a {
  margin-right: 1vh;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
  font-size: .8rem;
  letter-spacing: .1rem;
}

.fa-atmos-logo-black {
  font-size: 200%;
}

#clicks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;

}

#clicks a {
  font-family: "LuxoraGroteskLight";
  font-size: .8rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#clicks a:hover {
  color: rgba(255, 255, 255, 0.587);
}

nav>a:hover {
  color: rgba(255, 255, 255, 0.587);
}

#join {
  margin-left: 5vh;
}

/* HERO */
#hero {
  width: 100%;
  height: 100vh;
  background: url(./images/backg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero h1 {
  color: #fff;
  font-family: "LuxoraGroteskMedium";
  font-size: 3rem;
  font-weight: 500;
  margin-left: 5vh;
}

hr {
  width: 90%;
  position: absolute;
  margin-top: 70vh;
  margin-left: 5vh;
}

#hero h4 {
  color: #fff;
  font-family: "LuxoraGroteskLight";
  font-weight: 500;
  font-size: 1.3rem;

  position: absolute;
  margin-left: 5vh;
  margin-top: 85vh;
}

/* ABOUT */

#about {
  width: 100%;
  height: 80vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-left {
  width: 50%;
}

#about-left h1 {
  color: #F5E311;
  font-size: 2rem;
  margin-left: 5vh;
  padding-bottom: 4vh;
}

#about-left h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* ABOUT2 */

#about2 {
  width: 100%;
  height: 80vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

#about-left2 {
  width: 50%;
}

#about-left2 h1 {
  color: #F5E311;
  font-size: 2rem;
  padding-bottom: 4vh;
}

#about-left2 h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-right: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right2 {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right2 img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* ABOUT 3 */

#about3 {
  width: 100%;
  height: 80vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#about-left3 {
  width: 50%;
}

#about-left3 h1 {
  color: #F5E311;
  font-size: 2rem;
  margin-left: 5vh;
  padding-bottom: 4vh;
}

#about-left3 h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 5vh;
  font-family: "LuxoraGroteskLight";
}

#about-right3 {
  width: auto;
  display: flex;
  margin: 0 auto;
}

#about-right3 img {
  width: 60vh;
  height: 60vh;
  margin: 0 auto;
}

/* CREATED FOR BUSINESS */
#created-for-business {
  width: 100%;
  height: 25vh;
  background-color: #777674;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#created-for-business h1 {
  font-size: 2.5rem;
  margin-left: 5vh;
  color: #F5E311;
}

#created-for-business h4 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "LuxoraGroteskLight";
  margin-left: 5vh;
  padding-top: 1vh;
  color: #fff;
}

#created-bus {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #383C3D;
  align-items: center;
}

#screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5vh;
  width: 50%;
  margin-left: 5vh;
}

#screen h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 4vh;
}
#screen p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "LuxoraGroteskLight";
}

#screen h2 p {
  display: flex;
  flex-direction: column;
}

#screen-image {
  height: 80vh;
}

#screen-image img {
  width: auto;
  height: 80vh;
  border: 1px solid #fff;
  border-radius: 1vh;
}

/* COMING SOON */

#soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(./images/reading_and_walking_with_phone.webp) no-repeat center center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
#soon h1 {
  font-size: 3rem;
  padding-bottom: 1vh;
  font-weight: 400;
}
#soon h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
#email {
  width: 40vh;
  height: 4vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.648);
  color: #fff;
  border: none;
  border-radius: 1vh;
  margin-top: 4vh;
}

#submit {
  width: 10vh;
  height: 4vh;
  text-align: center;
  background-color: #F5E311;
  color: #383C3D;
  border: none;
  border-radius: 1vh;
}

/* PRICING */
#title-pricing {
  width: 100%;
  height: 30vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: column;
  color: #fff;
}

#title-pricing h1 {
  padding-top: 15vh;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 5vh;
}
#title-pricing h4 {
  padding-top: 1vh;
  font-size: 1.3rem;
  font-weight: 200;
  padding-left: 5vh;
}

#plans {
  width: 100%;
  height: 70vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#essential, #premium, #enterprise {
  width: 50vh;
  height: 40vh;
  background-color: #777674;
  margin: 5vh 5vh 0 5vh;
}

#essential h4, #premium h4, #enterprise h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 2vh 0 0 2vh;
}

#essential h1, #premium h1, #enterprise h1 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1vh 0 2vh 2vh;
  letter-spacing: 0.1rem;
}

#essential li, #premium li, #enterprise li {
  color: #fff;
  font-size: 0.rem;
  font-weight: 200;
  padding: 1vh 0 0 2vh;
  letter-spacing: 0.1rem;
  list-style: inside;
}

#premium h6, #enterprise h6 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 1vh 0 0 2vh;
}

footer {
  width: 100%;
  height: 5vh;
  text-align: center;
  color: #fff;
  background-color: #383C3D;
}

/* PRICING */

#text-business-types h1 {
  padding-top: 15vh;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 5vh;
  color: #fff;
}

#business-types {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
}

#cafe, #salon, #spa, #yoga, #restaurant, #store {
  width: 40vh;
  height: 30vh;
  background-color: aqua;
}

#cafe img, #salon img, #spa img, #yoga img, #restaurant img, #store img {
  width: 40vh;
  height: 30vh;
}

#cafe a, #salon a, #spa a, #yoga a, #restaurant a, #store a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
  }  

  nav a {
    padding-bottom: 1vh;
  }
  #clicks {
    visibility: hidden;
  }

  header {
    flex-direction: column;
    height: 15vh;
  }

  /* HERO */
  #hero {
    width: 100%;
    height: 100vh;
    background: url(./images/backg1.png) no-repeat right center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  /* ABOUT */
  
  #about-left h1 {
    font-size: 1.5rem;
  }
  
  #about-left h4 {
    font-size: 1rem;
  }
  
  #about-right img {
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
  }
  
  /* ABOUT2 */
  
  
  #about-left2 h1 {
    font-size: 1.5rem;
  }
  
  #about-left2 h4 {
    font-size: 1rem;
  }
  
  #about-right2 img {
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
  }
  
  /* ABOUT 3 */
  
  #about-left3 h1 {
    font-size: 1.5rem;
  }
  
  #about-left3 h4 {
    font-size: 1rem;
  }
  
  #about-right3 img {
    width: 20vh;
    height: 20vh;
    margin: 0 auto;
  }
  
  /* CREATED FOR BUSINESS */
  
  #created-for-business h1 {
    font-size: 1.5rem;
  }
  
  #created-for-business h4 {
    font-size: 1rem;
  }
  
  #screen h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 4vh;
  }
  #screen p {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    font-family: "LuxoraGroteskLight";
  }
  
  #screen h2 p {
    display: flex;
    flex-direction: column;
  }
  
  #screen-image {
    height: 30vh;
  }
  
  #screen-image img {
    width: auto;
    height: 30vh;
  }
  
  #screen {
    width: 90%;
    text-align: center;
  }
  
  #created-bus {
    height: 100vh;
    flex-direction: column;
  }

  #plans {
    width: 100%;
    height: 120vh;
    background-color: #383C3D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #text-business-types h1 {
    padding-top: 15vh;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 5vh;
    color: #fff;
  }
  
  #business-types {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
  }
  
  #cafe, #salon, #spa, #yoga, #restaurant, #store {
    width: 40vh;
    height: 30vh;
    background-color: aqua;
  }
  
  #cafe img, #salon img, #spa img, #yoga img, #restaurant img, #store img {
    width: 40vh;
    height: 30vh;
  }
  
  #cafe a, #salon a, #spa a, #yoga a, #restaurant a, #store a {
    color: #fff;
    text-decoration: none;
    font-size: 0.5rem;
  }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
  }  

  nav a {
    padding-bottom: 1vh;
  }
  #clicks {
    visibility: hidden;
  }

  header {
    flex-direction: column;
    height: 15vh;
  }
/* HERO */
#hero {
  width: 100%;
  height: 100vh;
  background: url(./images/backg1.png) no-repeat right center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ABOUT */

#about-left h1 {
  font-size: 1.7rem;
}

#about-left h4 {
  font-size: 1.2rem;
}

#about-right img {
  width: 30vh;
  height: 30vh;
  margin: 0 auto;
}

/* ABOUT2 */


#about-left2 h1 {
  font-size: 1.7rem;
}

#about-left2 h4 {
  font-size: 1.2rem;
}

#about-right2 img {
  width: 30vh;
  height: 30vh;
  margin: 0 auto;
}

/* ABOUT 3 */

#about-left3 h1 {
  font-size: 1.7rem;
}

#about-left3 h4 {
  font-size: 1.2rem;
}

#about-right3 img {
  width: 30vh;
  height: 30vh;
  margin: 0 auto;
}

/* CREATED FOR BUSINESS */

#created-for-business h1 {
  font-size: 1.7rem;
}

#created-for-business h4 {
  font-size: 1.2rem;
}

#screen h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 4vh;
}
#screen p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "LuxoraGroteskLight";
}

#screen h2 p {
  display: flex;
  flex-direction: column;
}

#screen-image {
  height: 40vh;
}

#screen-image img {
  width: auto;
  height: 40vh;
}

#screen {
  width: 90%;
  text-align: center;
}

#created-bus {
  height: 100vh;
  flex-direction: column;
}

#plans {
  width: 100%;
  height: 120vh;
  background-color: #383C3D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* PRICING */

#text-business-types h1 {
  padding-top: 15vh;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 5vh;
  color: #fff;
}

#business-types {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
}

#cafe, #salon, #spa, #yoga, #restaurant, #store {
  width: 40vh;
  height: 30vh;
  background-color: aqua;
}

#cafe img, #salon img, #spa img, #yoga img, #restaurant img, #store img {
  width: 40vh;
  height: 30vh;
}

#cafe a, #salon a, #spa a, #yoga a, #restaurant a, #store a {
  color: #fff;
  text-decoration: none;
  font-size: 0.5rem;
}
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 

  nav {
    flex-direction: row;
  }  

  
  #clicks {
    visibility:visible;
  }

  header {
    flex-direction: row;
    height: 10vh;
  }

  #about-right img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }
  #about-right2 img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }
  #about-right3 img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }

  #screen-image {
    height: 60vh;
  }
  
  #screen-image img {
    width: auto;
    height: 60vh;
  }

  #screen {
    width: 90%;
    text-align: center;
  }

  #created-bus {
    height: 100vh;
    flex-direction: column;
  }

  #plans {
    width: 100%;
    height: 120vh;
    background-color: #383C3D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #text-business-types h1 {
    padding-top: 15vh;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 5vh;
    color: #fff;
  }
  
  #business-types {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
  }
  
  #cafe, #salon, #spa, #yoga, #restaurant, #store {
    width: 40vh;
    height: 30vh;
    background-color: aqua;
  }
  
  #cafe img, #salon img, #spa img, #yoga img, #restaurant img, #store img {
    width: 40vh;
    height: 30vh;
  }
  
  #cafe a, #salon a, #spa a, #yoga a, #restaurant a, #store a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #about-right img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }
  #about-right2 img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }
  #about-right3 img {
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
  }

  #screen-image {
    margin-right: 5vh;
    height: 50vh;
  }
  
  #screen-image img {
    width: auto;
    height: 50vh;
  }

  #screen {
    width: 50%;
    text-align: left;
  }

  #created-bus {
    height: 80vh;
    flex-direction: row;
  }

  #plans {
    width: 100%;
    height: 70vh;
    background-color: #383C3D;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* PRICING */

#text-business-types h1 {
  padding-top: 15vh;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 5vh;
  color: #fff;
}

#business-types {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
}

#cafe, #salon, #spa, #yoga, #restaurant, #store {
  width: 40vh;
  height: 30vh;
  background-color: aqua;
}

#cafe img, #salon img, #spa img, #yoga img, #restaurant img, #store img {
  width: 40vh;
  height: 30vh;
}

#cafe a, #salon a, #spa a, #yoga a, #restaurant a, #store a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #about-right img {
    width: 60vh;
    height: 60vh;
    margin: 0 auto;
  }
  #about-right2 img {
    width: 60vh;
    height: 60vh;
    margin: 0 auto;
  }
  #about-right3 img {
    width: 60vh;
    height: 60vh;
    margin: 0 auto;
  }

  #screen-image {
    margin-right: 5vh;
    height: 60vh;
  }
  
  #screen-image img {
    width: auto;
    height: 60vh;
  }

  #created-bus {
    height: 80vh;
  }

  /* ABOUT */

#about-left h1 {
  font-size: 2rem;
}

#about-left h4 {
  font-size: 1.5rem;
}


/* ABOUT2 */


#about-left2 h1 {
  font-size: 2rem;
}

#about-left2 h4 {
  font-size: 1.5rem;
}


/* ABOUT 3 */

#about-left3 h1 {
  font-size: 2rem;
}

#about-left3 h4 {
  font-size: 1.5rem;
}


/* CREATED FOR BUSINESS */

#created-for-business h1 {
  font-size: 2rem;
  font-weight: 400;
}

#created-for-business h4 {
  font-size: 1.5rem;
}

#screen h2 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 4vh;
}
#screen p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "LuxoraGroteskLight";
}

#screen h2 p {
  display: flex;
  flex-direction: column;
}
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

  #screen-image {
    margin-right: 5vh;
    height: 70vh;
  }
  
  #screen-image img {
    width: auto;
    height: 70vh;
  }
}